bin/Debug/net7.0/CSharp_learning.dll
bin/Debug/net7.0/CSharp_learning.pdb
obj/Debug/net7.0/CSharp_learning.assets.cache
obj/Debug/net7.0/CSharp_learning.dll
obj/Debug/net7.0/CSharp_learning.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/CSharp_learning.pdb
bin/Debug/net7.0/CSharp_learning.dll
bin/Debug/net7.0/CSharp_learning.pdb
obj/Debug/net7.0/CSharp_learning.assets.cache
obj/Debug/net7.0/CSharp_learning.dll
obj/Debug/net7.0/CSharp_learning.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/CSharp_learning.pdb
bin/Debug/net7.0/CSharp_learning.dll
bin/Debug/net7.0/CSharp_learning.pdb
obj/CSharp_learning.csproj.nuget.dgspec.json
obj/CSharp_learning.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/CSharp_learning.assets.cache
obj/Debug/net7.0/CSharp_learning.csproj.FileListAbsolute.txt
obj/Debug/net7.0/CSharp_learning.dll
obj/Debug/net7.0/CSharp_learning.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/CSharp_learning.genruntimeconfig.cache
obj/Debug/net7.0/CSharp_learning.pdb
