bin/Debug/net7.0/CSharp_learning.dll
bin/Debug/net7.0/CSharp_learning.pdb
obj/Debug/net7.0/CSharp_learning.assets.cache
obj/Debug/net7.0/CSharp_learning.dll
obj/Debug/net7.0/CSharp_learning.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/CSharp_learning.pdb
bin/Debug/net7.0/CSharp_learning.dll
bin/Debug/net7.0/CSharp_learning.pdb
obj/Debug/net7.0/CSharp_learning.assets.cache
obj/Debug/net7.0/CSharp_learning.dll
obj/Debug/net7.0/CSharp_learning.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/CSharp_learning.pdb
